#Misc
*.dSYM 
*.DS_Store
demo/
**/**.bak
*.swp
**/**.swp
*.dSYM
**/**.bak
**/**.out
**/**.a
*.a

#objects
*.o
**/**.o
**/**/**.o
**/**/**/**.o

#directories
sdl2/
sdl2_mixer/
sdl2_ttf/

#during the developpement
assets/sounds

#executable
wolf3d
doom-nukem
a.out
